<div id="main-container">
  <label id="label-title">
    {{LandingStrings.LabelTitle}}
  </label>
  <br>
  <label id="label-body">
    {{LandingStrings.LabelBody}}
  </label>
  <div class="row">
    <div class="column">
      <div class="colonization-canvas-container">
        <canvas #leftCanvas class="colonization-canvas"></canvas>
        <canvas #leftMaskCanvas class="colonization-mask-canvas"></canvas>
      </div>
      <input class="slider" type="range" [(ngModel)]="this.leftViewer.model.attractionRadius"
        (change)="this.leftParameterChange($event)"
        min="16"
        max="256"
        step="1" />
      <label class="label-parameter">
        {{LandingStrings.AttractionRadius}}
      </label>
    </div>
    <div class="column">
      <div class="colonization-canvas-container">
        <canvas #middleCanvas class="colonization-canvas"></canvas>
        <canvas #middleMaskCanvas class="colonization-mask-canvas"></canvas>
      </div>
      <input class="slider" type="range" [(ngModel)]="this.middleViewer.model.absorptionRadius"
        (change)="this.middleParameterChange($event)"
        min="4"
        max="64"
        step="1" />
      <label class="label-parameter">
        {{LandingStrings.AbsorptionRadius}}
      </label>
    </div>
    <div class="column">
      <div class="colonization-canvas-container">
        <canvas #rightCanvas class="colonization-canvas"></canvas>
        <canvas #rightMaskCanvas class="colonization-mask-canvas"></canvas>
      </div>
      <input class="slider" type="range" [(ngModel)]="this.rightViewer.model.stepLength"
        (change)="this.rightParameterChange($event)"
        min="0.5"
        max="4"
        step="0.25" />
      <label class="label-parameter">
        {{LandingStrings.StepLength}}
      </label>
    </div>
  </div>
  <img #maskImage id="mask-image" [src]="this.maskPath" (load)="this.maskImageLoad($event)" />
  <div id="navigation-bar">
    <button class="navigation-button" id="button-previous" [disabled]="true">Anterior</button>
    <button class="navigation-button" id="button-next" (click)="this.buttonNextClick($event)">Siguiente</button>
  </div>
</div>