<div class="flex-container">
    <div class="flex-left">
        <h2>Parameters</h2>
        <div class="grid-container">
            <label>Mode</label>
            <select [disabled]="this.isRunning" [(ngModel)]="this.selectedModeOption" (change)="this.modeSelectChange($event)">
                <option value="0">open</option>
                <option value="1">closed</option>
            </select>
            <label>Mask</label>
            <select [disabled]="this.isRunning" (change)="this.maskSelectChange($event)">
                <option value="0">ampersand</option>
                <option value="1">rectas</option>
            </select>
            <label>Attraction distance</label>
            <input type="number" [(ngModel)]="this.attractionDistance" [disabled]="this.isRunning" (change)="this.draw($event)" />
            <label>Prune distance</label>
            <input type="number" [(ngModel)]="this.pruneDistance" [disabled]="this.isRunning" (change)="this.draw($event)"/>
            <label>Segment length</label>
            <input type="number" [(ngModel)]="this.segmentLength" [disabled]="this.isRunning" />
            <input type="checkbox" [(ngModel)]="this.showAttractionZone" (change)="this.draw($event)" />
            <label>Show attraction zone</label>
            <input type="checkbox" [(ngModel)]="this.showPruneZone" (change)="this.draw($event)" />
            <label>Show prune zone</label>
            <input type="number" [(ngModel)]="this.numAttractors" [disabled]="this.isRunning"/>
            <button (click)="this.generateRandomAttractors($event)" [disabled]="this.isRunning">Random attractors</button>  
            <input type="number" [(ngModel)]="this.numNodes" [disabled]="this.isRunning"/>
            <button (click)="this.generateRandomNodes($event)" [disabled]="this.isRunning">Random nodes</button>   
        </div>
        <br>
        <button (click)="this.clickResetButton($event)">
            Reset
        </button>
        <button (click)="this.clickGoButton($event)" [disabled]="this.isRunning">
            Go!
        </button>
        <input type="checkbox" [(ngModel)]="this.autoResume" (change)="this.autoResumeChange($event)" />
        <label>Resume automatically</label>
        <br>
        <button (click)="this.clickExportImage($event)">
            Export image
        </button>
    </div>
    <div class="flex-right">
        <canvas #canvas id="canvas" (click)="this.createNewAttractor($event)" (auxclick)="this.createNewNode($event)" (contextmenu)="this.contextMenu($event)">
        </canvas>
    </div>
</div>
